[submodule "Physics/ThirdParty/googletest"]
	path = Physics/ThirdParty/googletest
	url = https://github.com/google/googletest
[submodule "Physics/ThirdParty/glfw"]
	path = Physics/ThirdParty/glfw
	url = https://github.com/glfw/glfw
[submodule "Physics/ThirdParty/OpenCL-Headers"]
	path = Physics/ThirdParty/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
[submodule "Physics/ThirdParty/glm"]
	path = Physics/ThirdParty/glm
	url = https://github.com/g-truc/glm
